:root {
  --menu-height: 65px;
  --main-header-height: 85px;
  --carousel-height: calc(100vh - var(--menu-height) - var(--main-header-height));
  --carousel-width: 1500px;
  --navigation-width: calc(var(--carousel-width) + 100px);
  --navigation-min-width: calc(var(--navigation-width) + 50px);
  --footer-height: 7vh;
}
@screen md {
  :root {
    --carousel-height: 600px;
  }
}
